{% extends "base.html" %}

{% block content %}

<!--<form id="exchange_form" action="{{ url_for('exchange') }}" method="POST">-->
<!--    <label for="currency">Currency</label>-->
<!--    &lt;!&ndash;        <input type="text" id="currency" name="currency" value="EUR"><br>&ndash;&gt;-->
<!--    <select id="currency" name="currency">-->
<!--        &lt;!&ndash;        <option value="EUR">Euro</option>&ndash;&gt;-->
<!--        &lt;!&ndash;        <option value="USD">Dollar</option>&ndash;&gt;-->
<!--        &lt;!&ndash;        <option value="HUF">Forint</option>&ndash;&gt;-->
<!--        {% for currency in offer.currencies %}-->
<!--            <option value="{{  currency.code }}">{{ currency.name }}</option>-->
<!--        {% endfor %}-->
<!--    </select><br>-->
<!--    <label for="amount">Amount</label>-->
<!--    <input type="text" id="amount" name="amount" value="100"><br>-->
<!--    <input type="submit" value="Send">-->
<!--</form>-->
<div class="container">
    <div class="row justify-content-start">
        <div class="col-5 h1">New Order</div>
    </div>
    <form id="exchange_form" action="{{ url_for('exchange') }}" method="POST">
        <div class="mb-3">
            <label for="currency" class="form-label">Currency</label>
            <select id="currency" name="currency" class="form-select">
                {% for currency in offer.currencies %}
                    <option value="{{  currency.code }}">{{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount" value="100">
        </div>
        <div class="row justify-content-start">
            <div class="col-1"></div>
            <div class="col-2"><button type="submit" class="btn btn-primary">Summary</button></div>


        </div>
    </form>
</div>
{% endblock %}